In [5]:
for i in range(2, 11):
    for j in range(1,10):
            table=i*j
            print(table)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81
10
20
30
40
50
60
70
80
90

In [11]:
[x*y for x in range(2, 11) for y in range(1, 11)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [16]:
#Dictionary
#Depends on keys and values
customer_Detail= {"F-Name": "Hussain", "Last Name": "Murtaza Ali", "Address :": "N-Nazimabad"}
print(customer_Detail['F-Name'], customer_Detail['Last Name'])

Hussain Murtaza Ali

In [18]:
#for loop in dictionary
customer_Detail= {"F-Name :": "Hussain", "Last Name :": "Murtaza Ali", "Address :": "N-Nazimabad"}
for (i,j) in customer_Detail.items():
    print(i)
    print(j)

F-Name :
Hussain
Last Name :
Murtaza Ali
Address :
N-Nazimabad

In [19]:
dic = {0 : 1, 2 : 3, 5 : 6}
print(dic[0])

1

In [28]:
Details= {"F-Name": "Hussain", "Last Name": "Murtaza Ali", "Age :": 20, "Address :": "N-Nazimabad"}
Details["Sur Name"]= "Haweliwala"
print(Details)
del[Details["Address :"]]
print(Details)

{'F-Name': 'Hussain', 'Last Name': 'Murtaza Ali', 'Age :': 20, 'Address :': 'N-Nazimabad', 'Sur Name': 'Haweliwala'}
{'F-Name': 'Hussain', 'Last Name': 'Murtaza Ali', 'Age :': 20, 'Sur Name': 'Haweliwala'}

In [29]:
Details= {"F-Name": "Hussain", "Last Name": "Murtaza Ali", "Age :": 20, "Address :": "N-Nazimabad"}
for i in (2,4):
    Details[i]=i*i
    print(Details)

{'F-Name': 'Hussain', 'Last Name': 'Murtaza Ali', 'Age :': 20, 'Address :': 'N-Nazimabad', 2: 4}
{'F-Name': 'Hussain', 'Last Name': 'Murtaza Ali', 'Age :': 20, 'Address :': 'N-Nazimabad', 2: 4, 4: 16}

In [30]:

{i:i*i for i in [2,4,5,6]}

{2: 4, 4: 16, 5: 25, 6: 36}

In [33]:
dict([(1,2), (3,4), (4,5)])

{1: 2, 3: 4, 4: 5}

In [38]:
Tupple=(2,3,4,5,["Hussain", "Ali"])
Tupple[4][1] = "Murtaza"
Tupple

(2, 3, 4, 5, ['Hussain', 'Murtaza'])

In [1]:
#Enumerate Method
for i,j in enumerate(['h','u','s','s','a','i','n']):
    print(i,j)

0 h
1 u
2 s
3 s
4 a
5 i
6 n

In [8]:
for i in range(2,4,10):
    print(i)

2